# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [21]:
import numpy as np
import pandas as pd

import scipy.stats as scipy
from scipy.stats import ttest_1samp

from statsmodels.stats.proportion import proportions_ztest

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
for column in salaries.columns:
    missing_values = salaries[column].isna().sum()
    print(f"Column '{column}' has {missing_values} missing values.")

Column 'Name' has 0 missing values.
Column 'Job Titles' has 0 missing values.
Column 'Department' has 0 missing values.
Column 'Full or Part-Time' has 0 missing values.
Column 'Salary or Hourly' has 0 missing values.
Column 'Typical Hours' has 25528 missing values.
Column 'Annual Salary' has 8174 missing values.
Column 'Hourly Rate' has 25528 missing values.

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
salaries['Salary or Hourly'].value_counts()

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

But IÂ´ll define the two different df to complete the following challenges,

In [6]:
salaries_hourly = salaries.loc[salaries['Salary or Hourly'] == 'Hourly']
salaries_salary = salaries.loc[salaries['Salary or Hourly'] == 'Salary']

There are different departments in the city. List all departments and the count of employees in each department.

In [7]:
count1 = salaries.groupby('Department')['Name'].count()
count1

Department
ADMIN HEARNG              38
ANIMAL CONTRL             75
AVIATION                1856
BOARD OF ELECTION        111
BOARD OF ETHICS            8
BUDGET & MGMT             44
BUILDINGS                258
BUSINESS AFFAIRS         167
CITY CLERK                88
CITY COUNCIL             362
COPA                     123
CULTURAL AFFAIRS          74
DAIS                    1033
DISABILITIES              28
FAMILY & SUPPORT         656
FINANCE                  544
FIRE                    4627
HEALTH                   467
HOUSING                   66
HOUSING & ECON DEV       154
HUMAN RELATIONS           17
HUMAN RESOURCES           75
INSPECTOR GEN             95
LAW                      398
LICENSE APPL COMM          1
MAYOR'S OFFICE           104
OEMC                    1737
POLICE                 13848
POLICE BOARD               2
PROCUREMENT               84
PUBLIC LIBRARY          1088
PUBLIC SAFETY ADMIN      244
STREETS & SAN           2175
TRANSPORTN              1113
TREASURER                 28
WATER MGMNT             1914
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [9]:
# Null hypothesis or H0: mean hourly workers value = 30
# Alternative hyp or H1: mean hourly workers value <> 30

stat, pval = ttest_1samp(salaries_hourly['Hourly Rate'], 30)

print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   31.211500329216044
pvalue for the two-tailed test is  3.825475847673794e-202

The pvalue is less than a significance level of 0.05, ande the stat 31, so yes, the hourly wage of all hourly workers is significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [10]:
# Null hypothesis or H0: mean Annual Salary <= 86000
# Alternative hyp or H1: mean Annual Salary > 86000

stat, pval = ttest_1samp(salaries_salary['Annual Salary'], 86000)

print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

stat is   23.149576589194083
pvalue for the one-tailed test is  1.1882570425863358e-117

We can reject the null hypothesis, so salaries this year are higher than last year's mean of $86000.

Using the `crosstab` function, find the department that has the most hourly workers.

In [26]:
cross_tab = pd.crosstab(salaries_hourly['Department'], salaries_hourly['Salary or Hourly'])
cross_tab = cross_tab.sort_values(by='Hourly', ascending=False)
cross_tab

Salary or Hourly     Hourly
Department
STREETS & SAN          1846
WATER MGMNT            1558
AVIATION               1214
OEMC                   1077
DAIS                    745
TRANSPORTN              726
FAMILY & SUPPORT        357
PUBLIC LIBRARY          356
CITY COUNCIL             74
PUBLIC SAFETY ADMIN      48
LAW                      48
FINANCE                  45
POLICE                   24
MAYOR'S OFFICE           17
ANIMAL CONTRL            12
CULTURAL AFFAIRS         10
BUSINESS AFFAIRS          7
HOUSING & ECON DEV        3
HEALTH                    2
PROCUREMENT               2
BUDGET & MGMT             2
DISABILITIES              1

STREETS & SAN is the department with most hourly workers.

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [12]:
salaries_hourly_big = salaries_hourly[salaries_hourly['Department'] == "STREETS & SAN"]

In [18]:
# Null hypothesis or H0: mean Hourly Rate <= 35
# Alternative hyp or H1: mean Hourly Rate > 35

stat, pval = ttest_1samp(salaries_hourly_big['Hourly Rate'], 35)

print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

stat is   4.000138803968834
pvalue for the one-tailed test is  3.2902372218867895e-05

We have evidence the average hourly wage is > $35/hour.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [19]:
confidence_level = 0.95

degrees_freedom = len(salaries_hourly['Hourly Rate']) - 1

sample_mean = np.mean(salaries_hourly['Hourly Rate'])
print('Sample mean: ', sample_mean)

sample_standard_error = scipy.stats.sem(salaries_hourly['Hourly Rate'])
print('Sample standard error: ', sample_standard_error)

confidence_interval = scipy.t.interval(confidence_level, degrees_freedom, sample_mean, sample_standard_error)
print('Confidence interval: ', confidence_interval)

Sample mean:  34.58644971862002
Sample standard error:  0.14694742867989574
Confidence interval:  (34.29839539204317, 34.874504045196865)

C:\Users\PC\AppData\Local\Temp\ipykernel_16968\4217782434.py:8: DeprecationWarning: Please use `sem` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  sample_standard_error = scipy.stats.sem(salaries_hourly['Hourly Rate'])

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [20]:
confidence_level = 0.95

degrees_freedom = len(salaries_salary['Annual Salary']) - 1

sample_mean = np.mean(salaries_salary['Annual Salary'])
print('Sample mean: ', sample_mean)

sample_standard_error = scipy.stats.sem(salaries_salary['Annual Salary'])
print('Sample standard error: ', sample_standard_error)

confidence_interval = scipy.t.interval(confidence_level, degrees_freedom, sample_mean, sample_standard_error)
print('Confidence interval: ', confidence_interval)

Sample mean:  89061.79499999998
Sample standard error:  132.2613823282275
Confidence interval:  (88802.55516222387, 89321.0348377761)

C:\Users\PC\AppData\Local\Temp\ipykernel_16968\1706206011.py:8: DeprecationWarning: Please use `sem` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  sample_standard_error = scipy.stats.sem(salaries_salary['Annual Salary'])

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [27]:
salaries['Name'].count()

33702

In [30]:
hourly_workers = salaries_hourly['Name'].count()
total_workers = salaries['Name'].count()

proportion = 0.25

stat, p_value = proportions_ztest(hourly_workers, total_workers, proportion)

alpha = 0.05

print(p_value)

0.0013922864704323116

p_value is < than alpha, so the number of hourly workers is significantly different from 25%.